div {

}

h1 {
  font-size:90px;
  margin:50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  line-height: 2;
}

p{
    line-height: 2;
}

.intro-para {
  color:#40514E;
  margin:auto;
  width:30%;
}

/*.first-horizontal {
  color:#EAF6F6;
  width:30%;
}*/

hr {
  border:dotted #EAF6F6 6px;
  border-bottom:0;
  width:4%;
  margin:100px auto;
}

.Skills-heading {
  color:#66BFBF;
}

.hobbies {
  color:#11999E;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  padding-bottom:10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin:10px 20px;
  text-decoration: none;
}

a:hover {
  color:#EAF6F6;
}

.shortdesc {
  font-weight:normal;
}

body {
  margin:0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
.profilepic {
    border-radius: 50%;
    height:200px;
    width:200px;
}
.topContainer {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.skill-row {
  width:50%;
  margin:100px auto 100px auto;
  text-align: left;
}

.target-img {
  width:25%;
  float:right;
  margin-left: 30px;
}

.code-img {
  width:25%;
  float: left;
  margin-right:30px;
}

.middle-container {
  margin:100px 0;
  background-color: white;
}

.bottom-cloud {
  position:absolute;
  left:300px;
  bottom:300px;
}

.top-cloud {
  position:absolute;
  right:300px;
  top:50px;
}
.bottom-container {
  background-color: #66BFBF;
  padding:50px 0 20px;
}

.contact-message {
  width:40%;
  margin:40px auto 60px;
}

.footer-link {
  padding:30px;
  color:#11999E;
  text-decoration: none;
}

.courtesy {
  color:#EAF6F6;
  font-size:0.75em;
  padding:20px 0;
}

.pro {
  text-decoration: underline;
}


.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
